In [ ]:
import pandas as pd
import numpy as np

In [ ]:
market_fact= pd.read_csv("/content/market_fact.csv")
cust_dimen= pd.read_csv("/content/cust_dimen.csv")
orders_dimen= pd.read_csv("/content/orders_dimen.csv")
prod_dimen = pd.read_csv("/content/prod_dimen.csv")
shipping_dimen = pd.read_csv("/content/shipping_dimen.csv")

In [ ]:
market_fact.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [ ]:
cust_dimen.head()

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS  Cust_1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER  Cust_2
2       CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE  Cust_3
3      CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER  Cust_4
4        CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE  Cust_5

In [ ]:
orders_dimen.head()

   Order_ID  Order_Date Order_Priority Ord_id
0         3  13-10-2010            LOW  Ord_1
1       293  01-10-2012           HIGH  Ord_2
2       483  10-07-2011           HIGH  Ord_3
3       515  28-08-2010  NOT SPECIFIED  Ord_4
4       613  17-06-2011           HIGH  Ord_5

In [ ]:
prod_dimen.head()

  Product_Category            Product_Sub_Category Prod_id
0  OFFICE SUPPLIES          STORAGE & ORGANIZATION  Prod_1
1  OFFICE SUPPLIES                      APPLIANCES  Prod_2
2  OFFICE SUPPLIES  BINDERS AND BINDER ACCESSORIES  Prod_3
3       TECHNOLOGY    TELEPHONES AND COMMUNICATION  Prod_4
4        FURNITURE              OFFICE FURNISHINGS  Prod_5

In [ ]:
shipping_dimen.head()

   Order_ID       Ship_Mode   Ship_Date Ship_id
0         3     REGULAR AIR  20-10-2010   SHP_1
1       293  DELIVERY TRUCK  02-10-2012   SHP_2
2       293     REGULAR AIR  03-10-2012   SHP_3
3       483     REGULAR AIR  12-07-2011   SHP_4
4       515     REGULAR AIR  30-08-2010   SHP_5

In [ ]:
df1= pd.merge(market_fact,cust_dimen,on='Cust_id')

In [ ]:
df1

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54,AARON BERGMAN,ALBERTA,WEST,CORPORATE
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59,AARON BERGMAN,ALBERTA,WEST,CORPORATE
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37,AARON BERGMAN,ALBERTA,WEST,CORPORATE
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38,AARON BERGMAN,ALBERTA,WEST,CORPORATE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59,YOSEPH CARROLL,ALBERTA,WEST,CONSUMER
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37,YOSEPH CARROLL,ALBERTA,WEST,CONSUMER
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40,YOSEPH CARROLL,ALBERTA,WEST,CONSUMER
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62,YOSEPH CARROLL,ALBERTA,WEST,CONSUMER
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38,YOSEPH CARROLL,ALBERTA,WEST,CONSUMER

In [ ]:
df1.loc[df1.Customer_Segment=='CORPORATE',['Ord_id','Sales']]

        Ord_id    Sales
0     Ord_5446   136.81
1     Ord_5406    42.27
2     Ord_5446  4701.69
3     Ord_5456  2337.89
4     Ord_5485  4233.15
...        ...      ...
8385  Ord_1833   611.16
8386  Ord_2324   121.87
8387  Ord_2220    41.06
8388  Ord_4424   994.04
8389  Ord_4444   159.41

[3076 rows x 2 columns]

In [ ]:
df1.loc[df1.Customer_Name=='Alex']

Empty DataFrame
Columns: [Ord_id, Prod_id, Ship_id, Cust_id, Sales, Discount, Order_Quantity, Profit, Shipping_Cost, Product_Base_Margin, Customer_Name, Province, Region, Customer_Segment]
Index: []

In [ ]:
df1.loc[(df1.Sales>=300) &(df1.Profit>1000)]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59,AARON BERGMAN,ALBERTA,WEST,CORPORATE
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38,AARON BERGMAN,ALBERTA,WEST,CORPORATE
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55,AARON HAWKINS,BRITISH COLUMBIA,WEST,HOME OFFICE
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56,AARON HAWKINS,BRITISH COLUMBIA,WEST,HOME OFFICE
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60,AARON HAWKINS,YUKON,YUKON,HOME OFFICE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8317,Ord_2770,Prod_3,SHP_3802,Cust_1016,7535.9600,0.08,46,2745.87,19.99,0.40,VIVEK GRADY,ONTARIO,ONTARIO,HOME OFFICE
8343,Ord_2178,Prod_4,SHP_2968,Cust_785,6030.5800,0.09,39,1197.86,8.99,0.58,VIVIAN MATHIS,QUEBEC,QUEBEC,HOME OFFICE
8366,Ord_3593,Prod_3,SHP_4974,Cust_1274,12073.0600,0.03,39,5081.87,19.99,0.38,WILLIAM BROWN,SASKACHEWAN,PRARIE,HOME OFFICE
8367,Ord_3593,Prod_15,SHP_4975,Cust_1274,6685.0500,0.09,25,1653.60,24.49,NaN,WILLIAM BROWN,SASKACHEWAN,PRARIE,HOME OFFICE
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE

In [ ]:
df2=pd.merge(df1,prod_dimen,on='Prod_id')

In [ ]:
df2

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
1,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
2,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
4,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5467,Prod_14,SHP_7639,Cust_1803,5964.19,0.10,33,988.20,24.49,0.46,TONJA TURNELL,ALBERTA,WEST,CONSUMER,TECHNOLOGY,COPIERS AND FAX
8395,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37,TONY CHAPMAN,BRITISH COLUMBIA,WEST,CONSUMER,TECHNOLOGY,COPIERS AND FAX
8396,Ord_5368,Prod_14,SHP_7497,Cust_1795,17279.62,0.04,40,4176.25,24.49,0.52,TONY SAYRE,ALBERTA,WEST,SMALL BUSINESS,TECHNOLOGY,COPIERS AND FAX
8397,Ord_1765,Prod_14,SHP_2446,Cust_595,14647.26,0.07,25,5485.15,24.49,0.37,VICTORIA WILSON,ONTARIO,ONTARIO,HOME OFFICE,TECHNOLOGY,COPIERS AND FAX
8398,Ord_3610,Prod_14,SHP_4998,Cust_1266,1759.65,0.06,3,-2213.75,24.49,0.50,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE,TECHNOLOGY,COPIERS AND FAX

In [ ]:
df3=pd.merge(df2,shipping_dimen,on='Ship_id')

In [ ]:
df3

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID,Ship_Mode,Ship_Date
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,REGULAR AIR,28-07-2010
1,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",37863,REGULAR AIR,26-02-2011
2,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",53026,REGULAR AIR,03-03-2012
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36992,EXPRESS AIR,09-12-2009
4,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",13920,REGULAR AIR,10-10-2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Ord_4106,Prod_14,SHP_5720,Cust_1397,11829.40,0.07,20,3899.72,24.49,0.37,TOBY CARLISLE,SASKACHEWAN,PRARIE,HOME OFFICE,TECHNOLOGY,COPIERS AND FAX,57984,REGULAR AIR,04-10-2010
8395,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37,TONY CHAPMAN,BRITISH COLUMBIA,WEST,CONSUMER,TECHNOLOGY,COPIERS AND FAX,41895,REGULAR AIR,12-01-2011
8396,Ord_5368,Prod_14,SHP_7497,Cust_1795,17279.62,0.04,40,4176.25,24.49,0.52,TONY SAYRE,ALBERTA,WEST,SMALL BUSINESS,TECHNOLOGY,COPIERS AND FAX,8997,REGULAR AIR,05-07-2009
8397,Ord_1765,Prod_14,SHP_2446,Cust_595,14647.26,0.07,25,5485.15,24.49,0.37,VICTORIA WILSON,ONTARIO,ONTARIO,HOME OFFICE,TECHNOLOGY,COPIERS AND FAX,45184,REGULAR AIR,26-06-2010
8398,Ord_3610,Prod_14,SHP_4998,Cust_1266,1759.65,0.06,3,-2213.75,24.49,0.50,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE,TECHNOLOGY,COPIERS AND FAX,43650,REGULAR AIR,24-03-2009

In [ ]:
df4=pd.merge(df3,orders_dimen,on='Ord_id')

In [ ]:
df4

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Ship_Mode,Ship_Date,Order_ID_y,Order_Date,Order_Priority
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,...,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,REGULAR AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,...,WEST,CORPORATE,TECHNOLOGY,TELEPHONES AND COMMUNICATION,36262,EXPRESS AIR,27-07-2010,36262,27-07-2010,NOT SPECIFIED
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37,...,WEST,CORPORATE,OFFICE SUPPLIES,PAPER,36262,EXPRESS AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
3,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,...,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",37863,REGULAR AIR,26-02-2011,37863,24-02-2011,HIGH
4,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,...,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",53026,REGULAR AIR,03-03-2012,53026,26-02-2012,LOW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5018,Prod_14,SHP_7001,Cust_1696,7325.63,0.04,38,1899.23,24.49,0.46,...,WEST,SMALL BUSINESS,TECHNOLOGY,COPIERS AND FAX,54214,EXPRESS AIR,05-01-2012,54214,02-01-2012,MEDIUM
8395,Ord_669,Prod_14,SHP_916,Cust_224,20872.16,0.03,29,-4437.91,24.49,0.41,...,WEST,CORPORATE,TECHNOLOGY,COPIERS AND FAX,52035,REGULAR AIR,30-11-2009,52035,27-11-2009,HIGH
8396,Ord_508,Prod_14,SHP_686,Cust_186,19109.61,0.10,40,-379.29,24.49,0.36,...,WEST,HOME OFFICE,TECHNOLOGY,COPIERS AND FAX,5988,EXPRESS AIR,22-11-2010,5988,21-11-2010,NOT SPECIFIED
8397,Ord_3721,Prod_14,SHP_5162,Cust_1309,614.14,0.09,3,-735.27,24.49,0.46,...,PRARIE,HOME OFFICE,TECHNOLOGY,COPIERS AND FAX,27616,REGULAR AIR,01-08-2012,27616,30-07-2012,LOW
8398,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37,...,WEST,CONSUMER,TECHNOLOGY,COPIERS AND FAX,41895,REGULAR AIR,12-01-2011,41895,10-01-2011,CRITICAL

In [ ]:
data1 = pd.DataFrame({"Name" : ['Akhil','Joy','Ram','Sandy'],"Age" : [31,22,23,19] ,"Gender" : ['M','M','M','F']})

In [ ]:
data1

    Name  Age Gender
0  Akhil   31      M
1    Joy   22      M
2    Ram   23      M
3  Sandy   19      F

In [ ]:
data2 = pd.DataFrame({"Name" : ['Jaswanth','Arun','Vikrant','candy'],"Age" : [19,22,23,19] ,"Gender" : ['M','M','M','F']})

In [ ]:
data2

       Name  Age Gender
0  Jaswanth   19      M
1      Arun   22      M
2   Vikrant   23      M
3     candy   19      F

In [ ]:
df = pd.concat([data1,data2],axis=0)

In [ ]:
df

       Name  Age Gender
0     Akhil   31      M
1       Joy   22      M
2       Ram   23      M
3     Sandy   19      F
0  Jaswanth   19      M
1      Arun   22      M
2   Vikrant   23      M
3     candy   19      F

In [ ]:
df3=data1.append(data2)
df3

       Name  Age Gender
0     Akhil   31      M
1       Joy   22      M
2       Ram   23      M
3     Sandy   19      F
0  Jaswanth   19      M
1      Arun   22      M
2   Vikrant   23      M
3     candy   19      F

In [ ]:
data4 = pd.DataFrame({"school" : ['Dps','Fdg','Das','Gau'], "Marks" : [86,56,89,22]})
data4

  school  Marks
0    Dps     86
1    Fdg     56
2    Das     89
3    Gau     22

In [ ]:
df4 = pd.concat([data2,data4],axis=1)
df4

       Name  Age Gender school  Marks
0  Jaswanth   19      M    Dps     86
1      Arun   22      M    Fdg     56
2   Vikrant   23      M    Das     89
3     candy   19      F    Gau     22

In [ ]:
df5 = pd.DataFrame({"Team" : ['delhi','Mumbai','Banglore','Punjab','Kashmir'],"Match played" : [8,9,10,12,16],"Match won" : [6,8,9,11,15]})
df5.set_index("Team",inplace=True)
df5

          Match played  Match won
Team
delhi                8          6
Mumbai               9          8
Banglore            10          9
Punjab              12         11
Kashmir             16         15

In [ ]:
df6 = pd.DataFrame({"Team" : ['Hyderbad','Mumbai','Banglore','Haridwar','Deheradun'],"Match played" : [9,10,10,15,18],"Match won" : [8,9,9,14,17]})
df6.set_index("Team",inplace=True)
df6

           Match played  Match won
Team
Hyderbad              9          8
Mumbai               10          9
Banglore             10          9
Haridwar             15         14
Deheradun            18         17

In [ ]:
total=df5+df6
total

           Match played  Match won
Team
Banglore           20.0       18.0
Deheradun           NaN        NaN
Haridwar            NaN        NaN
Hyderbad            NaN        NaN
Kashmir             NaN        NaN
Mumbai             19.0       17.0
Punjab              NaN        NaN
delhi               NaN        NaN

In [ ]:
df5.add(df6,fill_value=0)

           Match played  Match won
Team
Banglore           20.0       18.0
Deheradun          18.0       17.0
Haridwar           15.0       14.0
Hyderbad            9.0        8.0
Kashmir            16.0       15.0
Mumbai             19.0       17.0
Punjab             12.0       11.0
delhi               8.0        6.0